<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/dashboard">{{ logged_in_user.username }}</a>
            <div class="navbar-nav">
                <a class="nav-link" href="/dashboard">Home</a>
                <a class="nav-link" href="/cards">All Cards</a>
                <a class="nav-link active" href="/users">Users</a>
                <a class="nav-link" href="/cards/new">Add Card</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </nav>
        <h1>All registered collectors</h1>
        <ul>
            {% for i in all_users %}
                <li><a href="/users/{{ i.id }}">{{ i.username }}</a> ({{i.collection.all|length}})</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>