<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Baby Yoda</h1>
    <img width="720px" src="{% static 'images/babyyoda.png' %}" alt="Baby Yoda" />
    <h2>Age: 50 yr/old</h2>
    <h2>Favorite Foods</h2>
    <ul>
        <li>Frogs</li>
        <li>Weird little eggs</li>
        <li>Fetuses</li>
    </ul>
    <h2>Best friend(s): Mandalorian and Boba Fett</h2>
</body>
</html>